[touch-action="none"]{ -ms-touch-action: none; touch-action: none;}
html /deep/ [touch-action="none"]{ -ms-touch-action: none; touch-action: none;}
[touch-action="auto"]{ -ms-touch-action: auto; touch-action: auto;}
html /deep/ [touch-action="auto"]{ -ms-touch-action: auto; touch-action: auto;}
[touch-action="pan-x"]{ -ms-touch-action: pan-x; touch-action: pan-x;}
html /deep/ [touch-action="pan-x"]{ -ms-touch-action: pan-x; touch-action: pan-x;}
[touch-action="pan-y"]{ -ms-touch-action: pan-y; touch-action: pan-y;}
html /deep/ [touch-action="pan-y"]{ -ms-touch-action: pan-y; touch-action: pan-y;}
[touch-action="pan-x pan-y"],[touch-action="pan-y pan-x"]{ -ms-touch-action: pan-x pan-y; touch-action: pan-x pan-y;}
html /deep/ [touch-action="pan-x pan-y"],html /deep/ [touch-action="pan-y pan-x"]{ -ms-touch-action: pan-x pan-y; touch-action: pan-x pan-y;}
[touch-action="manipulation"]{ -ms-touch-action: manipulation; touch-action: manipulation;}
html /deep/ [touch-action="manipulation"]{ -ms-touch-action: manipulation; touch-action: manipulation;}

/* Remove default styles */
*{
    -webkit-font-smoothing: antialiased;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

header, footer {
    display: block;
}

html {
    background-color: #e6e9e9;
    background: -webkit-radial-gradient(32% 106%, circle cover, rgb(255, 225, 125) 0%, rgb(123, 205, 149) 42%, transparent 82%), -webkit-linear-gradient(-45deg, rgb(35, 75, 215) 12%, rgb(105, 186, 209) 100%);
	background: -moz-radial-gradient(32% 106%, circle cover, rgb(255, 225, 125) 0%, rgb(123, 205, 149) 42%, transparent 82%), -moz-linear-gradient(-45deg, rgb(35, 75, 215) 12%, rgb(105, 186, 209) 100%);
	background: -ms-radial-gradient(32% 106%, circle cover, rgb(255, 225, 125) 0%, rgb(123, 205, 149) 42%, transparent 82%), -ms-linear-gradient(-45deg, rgb(35, 75, 215) 12%, rgb(105, 186, 209) 100%);
	background: -o-radial-gradient(32% 106%, circle cover, rgb(255, 225, 125) 0%, rgb(123, 205, 149) 42%, transparent 82%), -o-linear-gradient(-45deg, rgb(35, 75, 215) 12%, rgb(105, 186, 209) 100%);
	background: radial-gradient(circle farthest-corner at 32% 106%, rgb(255, 225, 125) 0%, rgb(123, 205, 149) 42%, transparent 82%), linear-gradient(-45deg, rgb(35, 75, 215) 12%, rgb(105, 186, 209) 100%);
    -webkit-font-smoothing: antialiased;
}

/* Visual Styles */

body {
    margin: 0 auto;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    color: #545454;
    min-height: 100vh;
/*    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);*/   
}
.darkText {
    color: #000000;
}
.primaryText {
    color: rgba(0, 0, 0, .87);
}
.secondaryText {
    color: rgba(0, 0, 0, .57);
}
.hintText {
    color: rgba(0, 0, 0, .38);
}
.divider {
    color: rgba(0, 0, 0, .12);
}

/*
nav {
    display: none;
    position: fixed;
    height: 69px;
    width: 100vw;
    margin: 0;
    padding: 10px 10px 10px 20px;
    top: 0px;
    width: 100%;
    background: #3F51B5;
    z-index: 100;
    outline-width: 0px;
    border-width: 0px;
    box-shadow: 0px 5px 20px #4b4b4b;
}
*/

main {
    display: block;
    margin: -30px auto 10px auto;
    max-width: 350px;
    background-color: rgba(245, 245, 247, 0.65);
    padding: 25px;
    box-shadow: 0px 5px 20px #4b4b4b;
    border-radius: 45px 45px 8px 8px;
    overflow-x: hidden;
}

form section {
    display: inline-block;
    width: 100%;
    float: left;
}

#badge {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    margin-left: calc(50% - 190px);
    top: 66px;
}

.headDivider{
    margin-top: 40px;
}


main h2 {
    color: rgba( 0, 0, 0, .57);
    margin: 11px auto 0 74px;
}

form {
    margin-top: 10px;
    width: 100%;
}

fieldset {
    display: block;
    margin: 0px;
    padding: 0px;
    max-width: 350px;
    border-width: 0px;
}

input, input:focus, select {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-collapse: collapse;
}

input:focus {
    border: -6px solid #03A9F4;
}

input {
    width: 100%;
    height: 30px;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    margin: 0px;
    padding: 0px 0px 0px 7px;
    border-width: 1px;
    border-style: solid;
    border-color: #6A6A6B;
    border-collapse: collapse;
}

select {
    height: 30px;
    padding: 16px 20px;
    border-color: #6A6A6B;
    background-color: white;
}

legend {
    margin: 10px 0px 5px 0px;
}

legend, .legendNumber {
    padding: 3px 0px;
    margin-right: 5px;
    text-decoration: none;
    font-weight: 800;
}

button {
    border: none;
    color: white;
    padding: 10px 62px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    background-color: #4CAF50;
    border-radius: 8px;
    width: 100%;
}

button:hover, button:active {
    
}


.optionSelected, ::-webkit-input-placeholder, :-moz-placeholder, ::-moz-placeholder, :-ms-input-placeholder, input-placeholder {
    color: rgba(0, 0, 0, .38 ); 
}


#parentFirstName, #parentLastName, #zipCode, #state, #eagleFirstName, #eagleLastName, #midInitial, #gender {
    display: inline-block;
    width: 50%;
    float: left;
}

#parentFirstName, #eagleFirstName {
    border-top-left-radius: 5px;
    border-right: 0px;
}

#eagleLastName {
    border-bottom-left-radius: 5px;
}

#parentLastName, #midInitial {
    border-top-right-radius: 5px;
}

#parentEmail {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#address1 {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

#parentEmail, #address2, #city, #zipCode, #state, #gender, #eagleLastName {
    border-top: 0px;
}

#state, #gender, #midInitial {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 0px;
    -webkit-border-top-left-radius: 0px;
    -webkit-border-top-right-radius: 0px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 0px;
}

#state, #eagleLastName {
    border-right: 0px;
}

#zipCode {
    border-bottom-right-radius:  5px;
}

#question {
    display: block;
    width: 100%;
    margin-top: 10px;
}

#eagleName {
    height: 60px;
    margin: 5px 0px 5px 0px;
}

#birthDay {
    margin: -10px 0px 10px 0px;
}

.yesNo {
    display: inline-block;
    float: left;
    width: 30px;
    margin-bottom: 20px;
}




/** Animations **/

.animated {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;
}